{{define "imports"}}
use std::io::Cursor;
use polyglot::{DecodingError, Encoder, Decoder, Kind};
use num_enum::TryFromPrimitive;
use std::convert::TryFrom;
use std::collections::HashMap;
use std::io;
{{end}}